node_modules
.DS_Store
Thumb.db

.npmrc

.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

/utils/private_key.js

UniversalArbitrage*
/test/PreparePoolSetup.test.js
/run-anvil.sh
/contracts/BatchUtil.sol
